<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?php echo C('WEB_TITLE') ?></title>
    
    <?php require_once __DIR__.'/../Common/head.html'; ?>
    
  </head>
  <body>
    <?php require_once __DIR__.'/../Common/nav.html'; ?>
    <div class="container main">
        <h1><i class="glyphicon glyphicon-user"></i> 联系</h1>
        
        <p>有任何需要，欢迎随时联系我们 44219991@qq.com。</p>
    </div>
  </body>
</html>