<footer class="container">
    <div>
        <h2>Links</h2>
        <ul class="list-inline">
            <li><a href="http://www.weworkremotely.com">WeWorkRemotely</a></li>
            <li><a href="http://www.dice.com">Dice</a></li>
            <li><a href="http://www.indeed.com">Indeed</a></li>
            <li><a href="http://careers.stackoverflow.com">Careers@StackOverFlow</a></li>
            <li><a href="http://bit.ly/1NxhdcC">GoBoon</a></li>
        </ul>
    </div>
    <div class="copyrights" style="margin-bottom: 20px;">
        &copy; 2015 cnBayarea.com
    </div>
</footer>